<div class="modal fade" id="modalAddApren" tabindex="-1" role="dialog" aria-labelledby="modalAddLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAddLabel">Agregar Saber</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("CrearSaberEnAprendizaje", "Saberes"))
            {
                <div class="modal-body">

                    <div class="form-group">
                        <label for="Descripcion">Descripción:</label>
                        <textarea type="text" id="Descripcion" min="0" class="form-control" name="Descripcion" value="" rows="3" required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="subcategoria" name="subcategoria" value="" />
                    <button type="submit" class="btn btn-primary">Agregar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            }
        </div>
    </div>
</div>