@using SaberesSyllabus.Repositories
@using SaberesySoluciones.Models
@using SaberesSyllabus.Models

@model List<Aprendizaje>


<h1>Gestión de Aprendizajes en Saberes</h1>


<br />

@foreach (Aprendizaje aprendizaje in Model)
{
    <br />

    <button type="button" id="btn-add" data-toggle="modal" data-target="#add" class="btn btn-success btn-sm" style="float:right"><i class="fa fa-plus"></i> Agregar</button>

    
    <h4>
        Aprendizaje - Codigo @aprendizaje.Codigo - @aprendizaje.Descripcion
    </h4>

    <!--Table content-->
    <table class="table table-striped table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Código</th>
                <th>Descripción</th>
                <th></th>
            </tr>
        </thead>
        @foreach (Saber subcategoria in aprendizaje.Saberes)
        {
            <tr>
                <td>@subcategoria.Codigo</td>
                <td style="text-align: justify">@subcategoria.Descripcion</td>
                <td style="vertical-align: middle; white-space: nowrap; text-align: right"></td>
            </tr>
        }
    </table>
}



<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="add" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Agregar un nuevo Saber</h4>
            </div>
            @using (Html.BeginForm("AgregarSaber", "AprendizajeEnSaber", FormMethod.Post, new { enctype = "multipart/form-data", @style = "border:none", @class = "col-offset-2" }))
            {
                <div class="modal-body">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="codigoA">Codigo del aprendizaje:</label>
                            <input maxlength="255" type="text" min="0" class="form-control" placeholder="Escriba aquí el codigo del Aprendizaje." name="codigoA" required>
                        </div>

                        <div class="form-group">
                            <label for="codigoP">Codigo del Saber:</label>
                            <input maxlength="255" type="text" min="0" class="form-control" placeholder="Escriba aquí el codigo del Saber." name="codigoS" required>
                        </div>

                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Añadir</button>
                </div>
            }
        </div>
    </div>
</div>





<!--Scripts-->
<script type="text/javascript">

    editCat = function (cat) {
        document.getElementById("categoriaprev").setAttribute("value", cat);
    }

    editSubcat = function (subcat) {
        document.getElementById("subcategoriaprev").setAttribute("value", subcat);
    }

    addSubcat = function (cat) {
        document.getElementById("categoria").setAttribute("value", cat);
    }

    addSaber = function (subcat) {
        document.getElementById("aprendizaje").setAttribute("value", subcat);
    }
    editApren = function (cod, desc) {
        document.getElementById("editaprencod").setAttribute("value", cod);
        document.getElementById("editaprendesc").setAttribute("value", desc);
    }

</script>



<!--Modals-->
